{% extends '::base.html.twig' %}
{% block content %}
 <div class="row-fluid">
     <div class="span12">
         <p>
             Please, select one of the functions of the sidebar or access the Admin menu
         </p>
     </div>
 </div>
{% endblock %}